{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>|Obiadek|Twój pomocnik w żywieniu</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="/">Strona główna | </a>
            <a href="">O aplikacji | </a>
            <a href="">Logowanie | </a>
        </div>
    </header>
    <div class="footer">
    Autor: Daria Pułło
    </div>
</body>
</html>