{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"></link>
    {% endblock %}
    <meta charset="UTF-8">
    <title>{% block title %} | Obiadek | Twój pomocnik w żywieniu {% endblock %}</title>
    {% endblock %}
</head>
<body>
    <header class="header">
    {% block header %}
        <div class="container">
            <a href="/">Strona główna | </a>
            <a href="/about/">O aplikacji | </a>
            <a href="/accounts/login/">Logowanie | </a>
        </div>
    {% endblock %}
    </header>
    <div class="content">{% block content %} {% endblock %}</div>
    <div class="footer">{% block footer %}
    Autor: Daria Pułło
    {% endblock %}
    </div>
</body>
</html>