{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="edit-recipe">
  <h2>Edytuj przepis {{ recipe.name }}</h2>
</div>

<div class="edit-recipe-form">
  <form method="post">
{% csrf_token %}
  {{ form }}
    <br><br><input type="submit" value="Zapisz zmiany">
</form>
</div>

<div class="edited">
  <h4>Dane po edycji: </h4>
  <h5>{{ name }}</h5>
  <h5>{{ description }}</h5>
  <h5>{{ preparation }}</h5>
  <a href="/edit/product/{{ recipe.pk }}"><input type="button" value="Edycja produktów"></a>
</div>
{% endblock %}