{% extends "base.html" %}
{% load static %}
{% block style %}
      <link rel="stylesheet" href="{% static 'css/main.css' %}"></link>
{% endblock %}
{% block content %}
<div class="name">
  <h1>Edytuj produkty przepisu -  {{ recipe.name }}</h1>
</div>

<div class="form">
  <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
    {{ form.as_p }}
    {% endfor %}
    <br><br><input class="button" type="submit" value="Zapisz zmiany">
  </form>
</div>
{% endblock %}