{% extends "base.html" %}
{% load static %}
{% block style %}
      <link rel="stylesheet" href="{% static 'css/main.css' %}"></link>
{% endblock %}
{% block content %}
<div class="name">
     <h1>Obiadek</h1>
</div>
<div class="short-desc">
    <h2>Twój osobisty planner posiłków</h2>
</div>
<div class="welcome">
    <p>Zakupy spożywcze przestaną być smutnym obowiązkiem, a staną się przyjemnością z naszym prostym plannerem posiłków.
    </p><br>
</div>

<div class="question">
    <h3>Dlaczego powinieneś korzystać z Obiadka?</h3>
    <p class="answer">Możesz oddelegować nam tworzenie listy zakupów i zebrać przepisy na swoje ulubione dania w jednym miejscu.</p>
</div>

<div class="question">
    <h3>Co możesz zyskać planując posiłki z wyprzedzeniem?</h3>
    <p class="answer">Odzyskasz czas stracony na myślenie o posiłkach. Dzięki Obiadkowi zaoszczędzisz pieniądze. Koniec z przypadkowymi produktami w koszyku.</p>
</div>

<div class="question">
    <h3>Jak używać Obiadka?</h3>
    <p class="answer">Obiadek jest bardzo prostym programem pozwalającym w przyjemny i szybki sposób zadbać o zdrowie i komfort psychiczny.</p>
</div>

{% endblock %}
