{% extends "base.html" %}
{% load static %}
{% block style %}
      <link rel="stylesheet" href="{% static 'css/main.css' %}"></link>
{% endblock %}
{% block content %}
<div class="name">
  <h1>Szczegóły planu | {{ plan.name }}</h1>
</div>

<div class="list">
  <ul><h3>Przepisy:</h3>
      {% for recipe in plan.recipes.all %}
    <li>{{ recipe.name }}</li>
      {% endfor %}
  </ul>
</div>

  <a class="button" href="/shopping-list/{{ plan.pk }}/"><input type="button" value="Wygeneruj listę zakupów"></a><br><br>
  <a class="button" href="/edit/plan/{{ plan.pk }}/"><input type="button" value="Edytuj plan"></a>
  <a class="button" href="/delete/plan/{{ plan.pk }}/"><input type="button" value="Usuń plan"></a>


{% endblock %}