{% extends "base.html" %}
{% load static %}
{% block style %}
      <link rel="stylesheet" href="{% static 'css/main.css' %}"></link>
{% endblock %}
{% block content %}
<div class="name">
  <h1>Lista utworzonych planów: </h1>
</div>
<div class="list">
  {% for plan in plans %}
  {% if user.id == plan.user.id %}
  <li><b>Nazwa:</b> {{ plan.name }}</li>
  <li><b>Opis:</b> {{ plan.description }}</li>
  <li><b>Data dodania:</b> {{ plan.date }}</li><br>
  <div class="button">
    <a href="/plan/detail/{{ plan.pk }}"><input type="button" name="detail" value="Szczegóły"></a><br><br>
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="button">
  <a href="/add/plan/"><input type="button" name="add" value="Dodaj nowy plan"></a>
</div>
{% endblock %}