{% extends "base.html" %}
{% load static %}
{% block style %}
      <link rel="stylesheet" href="{% static 'css/main.css' %}"></link>
{% endblock %}
{% block content %}
<div class="name">
  <h1>Profil użytkownika | {{ request.user.username }}</h1>
</div>
<div>
  <p class="profile">
    <b>Nazwa użytkownika:</b> {{ request.user.username}} <br>
    <b>Data dołączenia:</b> {{ request.user.date_joined}} <br>
    <b>E-mail:</b> {{ request.user.email}} <br>
    <b>Ostanie logowanie:</b> {{ request.user.last_login}} <br>
  </p>
</div>

{% endblock %}