{% extends "base.html" %}
{% load static %}
{% block style %}
      <link rel="stylesheet" href="{% static 'css/main.css' %}"></link>
{% endblock %}
{% block content %}
<div class="name">
  <h1>Szczegóły przepisu | {{ recipe.name }}</h1>
</div>

<div class="products">
  <h2 class="title">Składniki:</h2>
  {% for product in products%}
    <li><b>{{ product.product }}:</b> {{ product.quantity }} {{ product.get_quantity_categories_display }}</li>
  {% endfor %}
</div>

<div class="products">
    <h2 class="title">Przygotowanie: </h2>
    <p>{{ recipe.preparation }}</p>
</div>

{% if user.is_staff %}
<div class="button">
    <a href="/edit/{{ recipe.pk }}"><input type="button" name="edit" value="Edytuj przepis"></a>
</div>
{% endif %}
{% endblock %}