{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="page-name">
  <h1>Szczegóły przepisu | {{ recipe.name }}</h1>
</div>

<div class="recipe-products">
  <h3>Składniki:</h3>
  {% for product in products%}
    <li>{{ product.product }}: {{ product.quantity }} {{ product.get_quantity_categories_display }}</li>
  {% endfor %}
</div>

<div class="recipe-preparation">
    <h3>Przygotowanie: </h3>
    <p>{{ recipe.preparation }}</p>
</div>

{% if user.is_staff %}
<div class="button">
    <a href="/edit/{{ recipe.pk }}"><input type="button" name="edit" value="Edytuj przepis"></a>
</div>
{% endif %}
{% endblock %}