{% extends "base.html" %}
{% load static %}
{% block style %}
      <link rel="stylesheet" href="{% static 'css/main.css' %}"></link>
{% endblock %}
{% block content %}
<div class="name">
  <h1>Lista przepisów</h1>
</div>

<div class="list">
  {% for recipe in recipes %}
    <li><b>Nazwa:</b> {{recipe.name}}</li>
    <li><b>Opis:</b> {{recipe.description}}</li>
      <div class="button">
        <a href="/detail/{{ recipe.pk }}"><input type="submit" name="detail" value="Szczegóły"></a><br><br>
      </div>
  {% endfor %}
</div>

{% endblock %}