{% extends "base.html" %}
{% load static %}
{% block style %}
      <link rel="stylesheet" href="{% static 'css/main.css' %}"></link>
{% endblock %}
{% block content %}
<div class="name">
  <h2>Lista zakupów na bazie planu | {{plan.name}}: </h2>
</div>
<ul class="list">
  {% for item in shopping_list %}
    <li><b>{{item.0}}</b> | Ilość: {{item.1}} - {{item.2.get_quantity_categories_display}}</li>
  {% endfor %}
</ul>

<a class="button" href="{% url 'generate-shopping-list-pdf' plan.pk %}">Eksportuj do PDF</a>
{% endblock %}