.header {
	background: #8A8BA6;
	margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}
body {
	background: #F2F2F2;
}
.name {
	color: #3C5473;
	font-family: Arial;
	text-shadow: 2px 2px 5px #F2C6C2;
}
.short-desc{
	color: #2C3359;
	font-family: Arial;
}
.welcome{
		color: #2A2740;
	font-family: Arial;
}
.question{
	color: #8A8BA6;
	font-family: Arial;
}
.answer{
	color: #2A2740;
	font-family: Arial;
}
.profile{
	color: #2A2740;
	font-family: Arial;
}
.list{
	color: #2A2740;
	font-family: Arial;
}
.title{
	color: #2C3359;
	font-family: Arial;
}
.products{
	color: #2A2740;
	font-family: Arial;
}
.form{
	color: #2C3359;
	font-family: Arial;
}
.button{
	color: #2A2740;
	font-family: Arial;
}
.container{
	color: #2A2740;
	font-family: Arial;
}
.form-row{
	color: #2A2740;
	font-family: Arial;
}