.header {
	background: #86A69D;
	margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.footer {
	background: #F2B263;
	position: fixed;
	margin-bottom: 0;
	margin-top: 40px;
	padding: 20px 20px 20px 40px;
}

body {
	background: #F2E8DF;
}